*{
 margin: 0%;
 padding: 0%;
}
h1{
    color:white;
    background-color: rgba(0,0,0, .85);
    font-size: 28px;
    text-align: center;
    height:40px;
    padding-top: 1%;
    margin-bottom: 4%;
}
#legend{
    color:#6b705c;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
#fieldset{
    display: inline-block;
    width: 400px;
    font-size: 15px;
    letter-spacing: 1%;
    margin-left: 25%;
    border-radius: 3%;
    border: solid red 1px;
}
form{
    padding-top: 5%;
}
#nom,#prenom,#date_N,#lieu,#numTell,#Nationalité,#e_mail{
  display: inline-block;
  width: 180px;
  height: 10px;
  font-size:5px;
  margin-top: 2%;
  margin-left: 3%;
}
input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    }
input:hover{
    background-color: #f8f9fa;
}
label{
    color:rgba(0,0,0, .85);
    font-size: 15px;
    font-weight: 500;
    padding-left: 7%;
    letter-spacing: 4%;
}
#liste:hover{
    color: darkred;
    }
 #liste{
        color: rgba(0,0,0, .85);
        font-size: xx-small;
        font-weight: 600;
        margin-left: 3%;
    }
#Envoyer,#Annuler{
    width: 100px;
    height: 20px;
    font-size: x-small;
    color: white;
    font-size: xx-small;
    font-weight: bold;
    background-color:red;
    margin-left: 16%;
    margin-top: 3%;
    margin-bottom: 2%;
}

#Envoyer:hover{
    background-color:darkred;
}
#Annuler:hover{
background-color: darkred;
}
